@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.colorBlock{
    width: 5rem;
    height: 5rem;
}
.fullBlock{
    font-size: 0.75rem;
    text-align: center;
}
#colorBlocks{
    display:flex;
    flex-wrap: wrap;
    width:50rem;
}
#wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}